<template>
    <div>
        <h3>Your Results: {{ getScore.score }} / {{ getScore.total }}</h3>
        <div v-for="result in getResults" :key="result.id">
            <h4 v-html="result.question"></h4>
            <p>Your answer:</p>
            <p v-html="result.selectedAnswer"></p>
            <p>Correct answer: </p>
            <p v-html="result.correctAnswer"></p>
            <br>
        </div>
        <button @click="onTryAgain">Try Again? </button>

    </div>
</template>

<script>
import {  mapGetters, mapMutations, mapState} from 'vuex'

export default {
    name:'Results',
    computed: {
        ...mapGetters([ 'getResults', 'getScore']),
        ...mapState(['selectedAnswer'])
    },
    methods: {
        ...mapMutations(['reset']),
        onTryAgain(){
            this.reset() 
            this.$router.push('/')
            

        }
        
    }
}
</script>

<!-- add "scoped" attribute to limit CSS to this component only -->

<style scoped>

</style>