<template>
    <div>
        <h3>Please select options for your Trivia Game!</h3> 
        <h3>If you don't select Category or Difficulty it will be Miscellaneous</h3> 
        <h3>If&quot; you dont select number of Trivia Questions, it will generate 10 questions</h3>
        <select @change="onAmountChange">
            <option>--Amount of Trivia Questions--</option>
            <option>2</option>
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            
        </select>
            
        <select @change="onDifficultyChange">
            <option>--Difficulty--</option>
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
        </select>
         
        <select @change="onCategoryChange">
            <option>--Category---</option> 
            <option v-for="category in getCategories" :key="category.id">
                {{ category.name }}
            </option>

        </select>
        <button @click="onStartGame">Start Game</button>
        

    </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'



export default {  //I can get stuff from the store easily and define everything i will be using from Store
    name:'Select',
    computed:{
        ...mapGetters(['getCategories']) 
    },
    methods: {
        ...mapActions([ 'fetchTriviaCategories', 'fetchTrivia' ]),
        ...mapMutations([ 'setDifficulty', 'setCategory', 'setAmount' ]),
        onAmountChange(event){
            let amount = Number(event.target.value)
            this.setAmount(amount)
            console.log(event.target.selectedIndex)
            
        },
        onDifficultyChange(event){
            if (event.target.selectedIndex == 0){
                this.setDifficulty(null) //if you select and then diselect we need to reset the state
                return
            }
            let difficulty = event.target.value.toLowerCase()
            this.setDifficulty(difficulty)
            console.log(difficulty)
        },
        onCategoryChange(event) {
            let index = event.target.selectedIndex - 1 //did i accsidentally delete -1?
            if (index < 0){
                return 
            }
            const categories = this.$store.getters.getCategories //getcategories did not work as a function so i accessed it directly from the store 
            let id = categories[index].id
            this.setCategory(id)
            console.log(id)
        },
        onStartGame() {

            this.$router.push('/trivia')
            console.log("the game was started")

        }
    },
    created(){
        this.fetchTriviaCategories()
        
    }
}
</script>

<!-- add "scoped" attribute to limit CSS to this component only -->

<style scoped>

</style>