<template>
    <div>
            <p v-html="getTriviaDisplay.question"></p>
        <div v-for="answer in getShuffledAnswers" :key="answer">
            <input name="answers" type="radio" :id="answer" :value="answer" @change="onChange($event)" >
            <label :for="answer" v-html="answer" ></label>
            <br>
        </div>    
        <!-- <input name="answer" type="radio" id="yes" value="true" v-model="picked">
        <label for="yes">Yes</label>
        <br>  
        <input name="answer" type="radio" id="no" value="false" v-model="picked">
        <label for="no">No</label> -->

        <br>
        <button class="favorite" @click="onNextQuestion" >Next question</button>

    </div>
</template>
 
<script>
import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'



export default {
    name:'Trivia',
      computed:{
        ...mapGetters([ 'getTriviaDisplay','areWeDone', 'getShuffledAnswers']), //does not seem to work anyways. 
        ...mapState(['error', 'selectedAnswer', 'trivia', 'currentId']) 
    },

    methods: {
        ...mapActions([ 'fetchTrivia']),
        ...mapMutations([ 'setSelectedAnswer', 'incrementCurrentId' ]),
        onChange(event){

            let answer = event.target.value 
            this.setSelectedAnswer(answer)
            console.log(answer)
        },
        onTriviaQuestion(index) {
            return this.$state.trivia[index].question
        },
        onNextQuestion(){ //can i use state here, i shall increment the current question

            if (!this.$store.getters.isQuestionAnswered){
                console.log('answer question Dummy!')
                return 
            }

           this.incrementCurrentId()
           const areWeDone =  this.$store.getters.areWeDone
           console.log(areWeDone)
           if (areWeDone) {
                this.$router.push('/results')
           }
        
         }
    },
  
    created() {
       
        this.fetchTrivia()
        
        
    }
}
</script>

<!-- add "scoped" attribute to limit CSS to this component only -->

<style scoped>

</style>